In [1]:
# import library
import pandas as pd

In [3]:
# read in data
netflix = pd.read_csv("netflix_titles.csv")

# Display data
print(netflix.shape)
netflix.head()

(8807, 12)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

# Missing Data
### Display the percentage of missing data per column
(netflix.isnull().sum()/netflix.isnull().count()).sort_values(ascending=False)

In [17]:
netflix_v1 = netflix[["type","director"]].dropna()
print(netflix_v1.shape)
(netflix_v1.isnull().sum()/netflix_v1.isnull().count()).sort_values(ascending=False)

(6173, 2)

type        0.0
director    0.0
dtype: float64

In [18]:
netflix_v1.groupby("director")["type"].value_counts()

director             type
A. L. Vijay          Movie    2
A. Raajdheep         Movie    1
A. Salaam            Movie    1
A.R. Murugadoss      Movie    2
Aadish Keluskar      Movie    1
                             ..
Çagan Irmak          Movie    1
Ísold Uggadóttir     Movie    1
Óskar Thór Axelsson  Movie    1
Ömer Faruk Sorak     Movie    2
Şenol Sönmez         Movie    2
Name: type, Length: 4576, dtype: int64

In [19]:
netflix_v1.groupby('director')['type'].value_counts().unstack().fillna(0)

type                 Movie  TV Show
director
A. L. Vijay            2.0      0.0
A. Raajdheep           1.0      0.0
A. Salaam              1.0      0.0
A.R. Murugadoss        2.0      0.0
Aadish Keluskar        1.0      0.0
...                    ...      ...
Çagan Irmak            1.0      0.0
Ísold Uggadóttir       1.0      0.0
Óskar Thór Axelsson    1.0      0.0
Ömer Faruk Sorak       2.0      0.0
Şenol Sönmez           2.0      0.0

[4528 rows x 2 columns]

In [25]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'])
netflix_date = netflix[["country","date_added"]]
print(netflix_date.shape)
print((netflix_date.isnull().sum()/netflix_date.isnull().count()).sort_values(ascending=False))
netflix_date_v1 = netflix_date.dropna()
print((netflix_date_v1.isnull().sum()/netflix_date_v1.isnull().count()).sort_values(ascending=False))

(8807, 2)
country       0.094357
date_added    0.001135
dtype: float64
country       0.0
date_added    0.0
dtype: float64